/* color*/
$color-grey: #2B2D38;
$color-grey-white: #ABABAB;
$color-button: #DB2A6B;
/*font*/
$font-primary: "merriweather";
$font-secundary: "poppins";


//screen

$size-screen-max:1900px;
$size-screen-min:1200px;