@use "../abstracts/variables" as *;
section {
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}
.hero {
  display: flex;
  min-width: $size-screen-min;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: url("../img/ellipse.svg") no-repeat center/contain;
    z-index: -1;
  }

  &::before {
    width: 100%;
    height: 99%;
    top: 10%;
    left: 27%;
    opacity: 0.7;
  }

  &::after {
    width: 107%;
    height: 65%;
    top: 40%;
    right: -36%;
    transform: rotate(15deg);
    opacity: 0.7;
  }

  &__content {
    min-width: 600px;
    max-width: 47%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  &__title {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 94px;
    color: white;
    margin-bottom: 20px;
    line-height: 104px;
  }

  &__subtitle {
    color: #ffffff50;
    font-family: $font-secundary;
    font-size: 1.9rem;
  }

  &__buttons {
    min-width: 400px;
    margin-top: 32px;
    display: flex;
    gap: 32px;
    margin-bottom: 89px;
    align-items: center;

    .button-link {
      font-family: $font-secundary;
      color: white;
      text-decoration: underline;
      &:hover {
        color: $color-button;
      }
      &::after {
        content: "";
        position: absolute;
        background: url("../img/arrow.svg") no-repeat center/contain;
        width: 56px;
        height: 47px;
        top: 61%;
      }
    }
  }

  &__features {
    display: flex;
    gap: 45px;
  }

  .feature {
    display: flex;
    align-items: center;

    &__icon {
      background-color: #ffffff50;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__text {
      color: white;
      font-family: $font-secundary;
      margin-left: 15px;
      font-weight: 600;
      font-size: 15px;
    }
  }
  &__visuals {
    min-width: 600px;
    max-width: 60%;
    width: 60%;
    margin-left: 27px;
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  &__gallery {
    min-width: 600px;
    display: flex;
    gap: 20px;
    z-index: 1;
    position: relative;

    &-img-man-black {
      background-color: #6e1fed;
      background-image: url("../img/handsome-serious.png");
      height: 450px;
      width: 230px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 80px;
      margin-bottom: 32px;
    }
    &-img-girl-think {
      background-color: #db2a6b;
      background-image: url("../img/young-european.png");
      height: 240px;
      width: 240px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 80px;
    }
    &-img-asian-girl {
      background-color: #60d3d9;
      background-image: url("../img/pretty-young-asian.png");
      height: 240px;
      width: 240px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 80px;
    }
    &-img-european-man {
      background-color: #ff7e29;
      background-image: url("../img/positive-smiling.png");
      height: 450px;
      width: 230px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 80px;
      margin-top: 32px;
    }
    &-img-african-girl {
      background-color: #f4b840;
      background-image: url("../img/positive-dark-skinned-woman.png");
      height: 450px;
      width: 230px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 80px;
      margin-top: 135px;
    }
  }
}
