@use "../abstracts/variables" as *;

.nav {
    margin-right: 200px;
    font-family: $font-secundary;
    font-size: 1.1rem;

    &__list {
        display: flex;
        gap: 48px;
        list-style: none;



    }
    &__link {
        text-decoration: none;
        color: $color-grey-white;
    }
}