@use "../abstracts/variables" as *;

.nav {
    margin-right: 286px;
    font-family: $font-secundary;
    font-size: 1.1rem;

    &__list {
        display: flex;
        gap: 48px;
        list-style: none;



    }
    &__link {
        text-decoration: none;
        color: $color-grey-white;
        font-weight: 300;
        
        &:hover {
            color: white;
            position: relative;
            &::before{
                content:'';
                position: absolute;
                height: 2px;
                width: 80%;
                bottom: -10px;
                left: 10%;
                background-color: $color-button;

            }
        }
    }
}